:root {
    --main-font: "Lullaby";
    --text-font: "Gribouille";
    --vivi-color: #e1e8ff;
    --vivi-text-color: #383a40;
    --momo-color: #fffd88;
    --momo-text-color: #403f22;
    /* color pallette */
}

/* fonts */
@font-face {
    font-family: "Lullaby";
    src: url("fonts/lullaby.ttf") format("truetype");
}

@font-face {
    font-family: "Gribouille";
    src: url("fonts/gribouille.ttf") format("truetype");
}

/* set margin & padding to default */
body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* set decoration to default */
ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* -- Choose companion -- */

body {
    font-family: var(--text-font);
}

body > h1 {
    font-family: var(--main-font);
    height: 0;
    translate: 0 2vh;
    font-size: 4em;
    text-align: center;
    color: rgba(0,0,0,0.65);
}

body > h1:first-letter {
    font-size: 135%;
    text-align: center;
}

h1.reposition {
    translate: 0 calc(100vh / 15);
    animation: hide 1s ease-in-out;
    transition: translate 1s ease-in-out;
}

form {
    display: flex;
    flex-direction: row;
}

input[name="companion"] {
    position: absolute;
    top: -999em;
}

label[data-companion="companion"] {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    font-size: 3em;
    transition: width 1s ease, font-size 0.75s ease-in-out;
}

label[data-companion="companion"]:hover {
    width: 75vw;
    font-size: 500%;
    cursor: pointer;
}

label[data-companion="companion"]:first-of-type {
    background-color: var(--vivi-color);
    color: var(--vivi-text-color);
}

label[data-companion="companion"]:last-of-type  {
    background-color: var(--momo-color);
    color: var(--momo-text-color);
}

label[data-companion="companion"].selected {
    font-size: 6em;
    width: 100vw;
}

label[data-companion="companion"].selected span {
    translate: 0 calc(100vh / 3);
    transition: translate 1.25s ease-in-out;
}

label[data-companion="companion"].unselected {
    width: 0;
}

label[data-companion="companion"].unselected span {
    opacity: 0;
    transition: opacity 0.4s ease;
}

label[data-companion="companion"].selected, label[data-companion="companion"].unselected {
    pointer-events: none;
}

/* -- Overview -- */

body[id="overview"] {
    display: flex;
}

body div h1, body div h2:first-of-type {
    font-family: var(--main-font);
}

body > div:first-of-type {
    /* display: grid; */
    background-color: white;
    width: 70vw;
    min-width: 35em;
}

body div:first-of-type h1 {
    margin-left: 3em;
}

body > div:last-of-type {
    position: fixed;
    right: 0;
    width: 30vw;
    height: 100vh;
    min-width: 20em;
}

body div[data-companion="vivi"] {
/*     border-left: solid 0.1em #a1caff; */
    background-color: var(--vivi-color); 
}

body div[data-companion="momo"] {
    background-color: var(--momo-color); 
}

body div:last-of-type h2 {
    margin-top: 1em;
    font-family: var(--text-font);
    text-transform: uppercase;
    font-size: 2em;
    color: var(--vivi-text-color);
    text-align: center;
}

body div:last-of-type h2:first-letter {
    font-family: var(--main-font);
}

body div[data-companion="momo"] h2 {
    color: var(--momo-text-color);
}

/* -- media queries -- */
@media (min-width: 60em) {
    label[data-companion="companion"] {
        font-size: 5vw;
    }
    
    label[data-companion="companion"]:hover {
        font-size: 7.5vw;
    }

    label[data-companion="companion"].selected {
        font-size: 10vw;
    }
}

/* animations */
@keyframes hide {
    from {
        opacity: 1;
    } 50% {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
